Repository ovh-ux/ovh-module-exchange, pull requests merged in 2019-03, with the labels that each got.

#279 fix(exchange-shared-account): fix quota error
  src/exchange/account/update/account-update.html
  src/exchange/shared-account/update/shared-account-update.controller.js
Labels: bug, quality check ok

#283 fix(i18n): retrieve translations
  src/exchange/translations/Messages_en_ASIA.xml
  src/exchange/translations/Messages_en_AU.xml
  src/exchange/translations/Messages_en_CA.xml
  src/exchange/translations/Messages_en_GB.xml
  src/exchange/translations/Messages_en_SG.xml
  src/exchange/translations/Messages_en_US.xml
  src/exchange/translations/Messages_es_ES.xml
Labels: bug

#287 Feat/account renew
  package.json
  src/exchange/billing/account-renew/billing-account-renew.component.js
  src/exchange/billing/account-renew/billing-account-renew.constants.js
  src/exchange/billing/account-renew/billing-account-renew.controller.js
  src/exchange/billing/account-renew/billing-account-renew.template.html
  src/exchange/exchange.service.js
  src/exchange/header/header.component.js
  src/exchange/header/header.constant.js
  src/exchange/header/header.html
  src/exchange/header/update-renew/update-renew.controller.js
  src/exchange/header/update-renew/update-renew.html
  src/exchange/services/exchange.serviceInfrastucture.service.js
  src/exchange/services/exchange.version.service.js
  src/exchange/translations/Messages_fr_FR.xml
  yarn.lock
Labels: enhancement, quality check ok, translation required

#288 fix(i18n): submit & retrieve translations
  src/exchange/translations/Messages_cs_CZ.xml
  src/exchange/translations/Messages_de_DE.xml
  src/exchange/translations/Messages_en_ASIA.xml
  src/exchange/translations/Messages_en_AU.xml
  src/exchange/translations/Messages_en_CA.xml
  src/exchange/translations/Messages_en_GB.xml
  src/exchange/translations/Messages_en_SG.xml
  src/exchange/translations/Messages_en_US.xml
  src/exchange/translations/Messages_es_ES.xml
  src/exchange/translations/Messages_es_US.xml
  src/exchange/translations/Messages_fi_FI.xml
  src/exchange/translations/Messages_fr_CA.xml
  src/exchange/translations/Messages_fr_FR.xml
  src/exchange/translations/Messages_it_IT.xml
  src/exchange/translations/Messages_lt_LT.xml
  src/exchange/translations/Messages_nl_NL.xml
  src/exchange/translations/Messages_pl_PL.xml
  src/exchange/translations/Messages_pt_PT.xml
Labels: translation required
