Repository ovh-ux/ovh-module-exchange, pull requests merged in 2019-01, with the labels that each got.

#248 build(eslint): use eslint-formatter-pretty
  package.json
  yarn.lock
Labels: enhancement

#249 fix(exchange.disclaimer): disable oui-action-menu
  src/exchange/disclaimer/disclaimer.html
Labels: bug, quality check ok

#256 fix(*): email export as .pst time not valid
  src/exchange/translations/Messages_fr_FR.xml
Labels: bug, quality check ok, translation required

#250 fix(*): can access webmails again
  src/exchange/account/home/account-home.component.js
  src/exchange/account/home/account-home.html
  src/exchange/information/information.html
  src/exchange/translations/Messages_fr_FR.xml
  src/exchange/wizard-hosted-creation/summary/automatic/automatic.controller.js
  src/exchange/wizard-hosted-creation/summary/automatic/automatic.html
Labels: bug, quality check ok, translation required

#262 fix(group-accounts): make possible to add account as member of group
  src/exchange/group/accounts/group-accounts.controller.js
Labels: bug, quality check ok

#225 fix(*): filter by domain
  src/css/exchange/exchangeDiagnostic.css
  src/exchange/account/delegation/account-delegation.controller.js
  src/exchange/account/delegation/account-delegation.html
  src/exchange/account/home/account-home.component.js
  src/exchange/group/accounts/group-accounts.controller.js
  src/exchange/group/accounts/group-accounts.html
  src/exchange/group/delegation/group-delegation.controller.js
  src/exchange/group/delegation/group-delegation.html
  src/exchange/translations/Messages_fr_FR.xml
Labels: enhancement, quality check ok, translation required

#257 Handle new Company field in e-mail accounts
  src/exchange/account/accountTypes.service.js
  src/exchange/account/add/account-add.controller.js
  src/exchange/account/add/account-add.html
  src/exchange/account/home/account-home.component.js
  src/exchange/account/home/account-home.constant.js
  src/exchange/account/home/account-home.html
  src/exchange/account/update/account-update.controller.js
  src/exchange/account/update/account-update.html
  src/exchange/translations/Messages_fr_FR.xml
Labels: enhancement, quality check ok, translation required
